<script>
  var objDiv = document.getElementById("messages");
  objDiv.scrollTop = objDiv.scrollHeight;
</script>
<h1>Chat</h1>
<div class="panel panel-default">
<% if @chatroom.messages.any? %>
  <div class="panel-body fixed-panel" id="messages">
      <%= render partial: 'messages/message', collection: @chatroom.messages.order(created_at: :asc)%>
  </div>
<%else%>
  <div class="panel-body hidden" id="messages">
  </div>
<%end%>
</div>


<%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</br>
<%= link_to('Clear Chat', chatroom_path('Chat'), method: :delete)  %>