<%= form_for(@job) do |f| %>
  <%= render 'shared/error_messages_job', object: @job %>
  <%= f.label "Job No" %>
  <%= f.number_field :no, class: 'form-control' %>

  <%= f.label "Description" %>
  <%= f.text_field :desc, class: 'form-control' %>

  <%= f.label :size %>
  <%= f.number_field :size, class: 'form-control' %>

  <% if  current_user.manufacturing? %>
    <%= f.label "Manufacturing" %>
    <%= f.select :make, options_for_select(['Not Started', 'Processing','Done'],@job.make) %>
    
    <%= f.label "Manufacturing Comment" %>
    <%= f.text_field :makecomment, class: 'form-control' %>
  <% end %>
  
  <% if current_user.qc? %>
    <%= f.label "Quality Control" %>
    <%= f.select :qc, options_for_select(['Not Started','Testing', 'Being Adjusted','Passed'],@job.qc) %>
    
    <%= f.label "QC Comment" %>
    <%= f.text_field :qccomment, class: 'form-control' %>
  <% end %>
  
  <% if current_user.filling? %>
    <%= f.label "Filling" %>
    <%= f.select :fill, options_for_select(['Not Started', 'Processing','Done'],@job.fill) %>
    
    <%= f.label "Filling Comment" %>
    <%= f.text_field :fillcomment, class: 'form-control' %>
  <% end %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>