<table class = "table table-bordered thick-border tablecenter">
  <tr class = "tableheader">
    <td>
      <h3><strong><%= job.desc %></strong></h3>
    </td>  
  </tr>
      
  <tr>
    <td>
      <strong>Job: </strong><%= job.no %>
    </td>  
  </tr>
  
  <tr>
    <td>
      <strong>Size: </strong> <%= job.size %> L
      </td>
  </tr>
  
  <tr>
    <td <% if job.make == "Done" %> class = "done" <% end %>>
      <strong> Manufacturing: </strong> 
      <%= job.make %>
      <% if !job.makecomment.blank? %>
        - <%= job.makecomment %>
      <% end %>
    </td>
  </tr>
  
  
  <tr>
    <td <% if job.qc == "Passed" %> class = "done" <% end %>>
      <strong> Quality Control: </strong> 
      <%= job.qc %>
      <% if !job.qccomment.blank? %>
        - <%= job.qccomment %>
      <% end %>
    </td>
  </tr>
  
  <tr>
    <td <% if job.fill == "Done" %> class = "done" <% end %>>
      <strong> Filling: </strong> 
      <%= job.fill %>
      <% if !job.fillcomment.blank? %>
        - <%= job.fillcomment %>
      <% end %>
    </td>
  </tr>
  
  <tr>
      <td>
       <% if logged_in? %>
        <% if  current_user.manufacturing? || current_user.qc? || current_user.filling? %>
          <% if  !job.archived? %>
              <%= link_to "Update", edit_job_path(job) %>
             | <%= link_to("Archive", archive_path(job), method: :post)  %>
             | <%= link_to "Delete", job, method: :delete,
                                        data: { confirm: "You sure?" } %>
          <% end %>
          <% if  job.archived? %>
              <%= link_to "Update", edit_job_path(job) %>
             | <%= link_to("Un-Archive", unarchive_path(job), method: :post)  %>
             | <%= link_to "Delete", job, method: :delete,
                                        data: { confirm: "You sure?" } %>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>