<% provide(:title, 'All Jobs') %>
<script>
    $(document).ready(turbolinksSetInterval);
</script>
<% if request.fullpath.downcase().include? "archive" %>
  <h1>Archive</h1>
<% else %>
  <h1>Batch Status Report</h1>
<% end %>

<% if current_user && current_user.manufacturing? %>  
  <%= link_to "Add Job", new_job_path %>
<% end %>
<%= will_paginate %>
  <%= render @jobs %>
<%= will_paginate %>
</br>

