<h2>Colourtrend Batch Status Report</h2>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Batch Status application! Please click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>