<%= form_for(@report) do |f| %>
  <%= render 'shared/error_messages_report', object: @report %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  
    <%= f.file_field :image, class: 'form-control' %>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
