<% provide(:title, 'Add Report') %>
<% provide(:button_text, 'Create Report') %>
<h1>Add Report</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>