<% provide(:title, @report.name) %>
<h1 class = "text-center"><%= @report.name %></h1>
<%= image_tag @report.image_url.to_s, class: "img-responsive center-block" %>
<p class = "text-center">
   <%= link_to 'Update', edit_report_path(@report) %> | 
   <%= link_to 'Delete', @report, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>