Hi <%= @user.name %>,

Welcome to the Batch Status application! Please click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>