<tr>
  <td><%= link_to job.no, job %> </td>
  <td><%= job.desc %></td>  
  <td><%= job.size %></td>  
  <td <% if job.make == "Done" %> class = "done" <% end %>><%= job.make %><% if !job.makecomment.blank? %> - <% end %><%= job.makecomment %></td> 
  <td <% if job.qc == "Passed" %> class = "done" <% end %>><%= job.qc %><% if !job.qccomment.blank? %> - <% end %><%= job.qccomment %></td>  
  <td <% if job.fill == "Done" %> class = "done" <% end %>><%= job.fill %><% if !job.fillcomment.blank? %> - <% end %><%= job.fillcomment %></td>
  <td>
     <% if logged_in? %>
      <% if  current_user.manufacturing? || current_user.qc? || current_user.filling? %>
        <% if  !job.archived? %>
            <%= link_to "Update", edit_job_path(job) %>
           | <%= link_to("Archive", archive_path(job), method: :post)  %>
           | <%= link_to "Delete", job, method: :delete,
                                      data: { confirm: "You sure?" } %>
        <% end %>
        <% if  job.archived? %>
            <%= link_to "Update", edit_job_path(job) %>
           | <%= link_to("Un-Archive", unarchive_path(job), method: :post)  %>
           | <%= link_to "Delete", job, method: :delete,
                                      data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>