<% provide(:title, 'All Jobs') %>
<script>
    $(document).ready(turbolinksSetInterval);
</script>
 
<% if request.fullpath.downcase().include? "archive" %>
  <h1>Archive</h1>
<% else %>
  <h1>Batch Status Report</h1>
<% end %>

<% if current_user && current_user.manufacturing? %>  
  <%= link_to "Add Job", new_job_path %>
<% end %>

<%= will_paginate %>


<table class = "table table-bordered">
  <tr class = "tableheader">
      <td><strong>Job No</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>Size (L)</strong></td>
      <td><strong>Manufacturing</strong></td>
      <td><strong>Quality Control</strong></td>
      <td><strong>Filling<strong></td>
      <td></td>
  </tr>
  <%= render @jobs %>
</table>


<%= will_paginate %>
</br>

