<% provide(:title, @job.desc) %>
<script>
    $(document).ready(turbolinksSetInterval);
</script> 
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= @job.no %>  <%= @job.desc %>
      </h3>
        <strong>Size: </strong><%= @job.size %> L</br></br>
        
        <strong>Manufacturing: </strong><%= @job.make %> &nbsp &nbsp
        <strong>Comment: </strong><%= @job.makecomment %></br>
        
        <strong>Quality Control: </strong><%= @job.qc %> &nbsp &nbsp
        <strong>Comment: </strong><%= @job.qccomment %></br>
        
        <strong>Filling: </strong><%= @job.fill %> &nbsp &nbsp
        <strong>Comment: </strong><%= @job.fillcomment %></br></br>
        
        <% if logged_in? %>
          <% if  current_user.manufacturing? || current_user.qc? || current_user.filling? %>
            <%= link_to "Update", edit_job_path(@job) %>
             | <%= link_to "Delete", @job, method: :delete,
                                data: { confirm: "You sure?" } %>
          <% end %>
        <% end %>
    </section>
  </aside>
</div>