<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages_user', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
 <% if current_user && current_user.admin? %>  
  <%= f.label :manufacturing %>
  <%= f.select :manufacturing, options_for_select([['No', false], ['Yes', true]],@user.manufacturing)%>
  
  <%= f.label "Quality Control" %>
  <%= f.select :qc, options_for_select([['No', false], ['Yes', true]],@user.qc)%>
  
  <%= f.label :filling %>
  <%= f.select :filling, options_for_select([['No', false], ['Yes', true]],@user.filling)%>
  
  
  <%= f.label :admin %>
  <%= f.select :admin, options_for_select([['No', false], ['Yes', true]],@user.admin)%>
  
   <%= f.label :executive %>
  <%= f.select :executive, options_for_select([['No', false], ['Yes', true]],@user.executive)%>
  <% end %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>