<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <% if @user.admin then %>
          (Administrator)
        <% end %>
      </h1>
      
        <%= @user.email %>
        <% if @user.executive then %>
          <p>Executive Reporting Access Granted</p>
        <% end %>
        <b>Departments:</b></br>
        
        <% if @user.manufacturing then %>
          Manufacturing </br>
        <% end %>
      
        <% if @user.qc then %>
          Quality Control </br>
        <% end %>
        
        <% if @user.filling then %>
          Filling </br>
        <% end %>
        
       
    </section>
  </aside>
</div>