<tr>
  <td>
    <%= link_to user.name, user %>
  </td>
  
  <td>
    <% if current_user.admin? %>
    <%= link_to "Edit", edit_user_path(user) %>
      |  <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </td>
</tr>