<% provide(:title, 'All users') %>
<h1>All users</h1>
<% if current_user && current_user.admin? %>
      <%= link_to "Add User", signup_path %>
<% end %>
<%= will_paginate %>

<table class = "table table-bordered table-striped thick-border tablecenter">
  <tr class = "tableheader">
    <td>
      <strong>User</strong>
    </td>
    <td>
      <strong>Admin Options</strong>
    </td>
  </tr>
  
  <%= render @users %>
</table>

<%= will_paginate %>
