<div class="col-sm-4">
    <h3 class = "text-center"><%= report.name%></h3>
    <div class="ih-item square colored effect6 from_top_and_bottom">
        <%= link_to report do %>
            <div class="img">
                <%= image_tag(report.image_url.to_s, alt: "Report Image", class: "thumbnail center-block") %>
            </div>
            <div class="info">
              <h3>Click to View</h3>
            </div>
        <% end %>
    </div>
    <p class = "text-center">
        <%= link_to 'Edit', edit_report_path(report) %> | 
        <%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
</div>