<% provide(:title, 'Edit Report') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Report</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>