<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "bsr", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <% if current_user.executive? %>
                <li><%= link_to "Executive Reporting", reports_path %></li>
          <% end %>
           <li><%= link_to "Archive", archiveindex_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Edit Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Users", users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <li>
            
            <%= link_to chatroom_path('Chat') do %>
             <%= image_tag("chat.png", alt: "Chat", id: "messageIcon") %><span class="pull-right" id="notification"></span>
            <% end %>
          </li>  
        <% end %>
      </ul>
    </nav>
  </div>
</header>